/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroImage {
  max-width: 100%;
  width: 200px; /* Adjust size as needed */
  height: auto;
  display: block;
  margin: 0 auto 20px auto; /* Space below SVG */
  animation: wiggle 1s ease-in-out; /* Wiggle animation on load */
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg); /* Tilt right */
  }
  50% {
    transform: rotate(0deg); /* Back to center */
  }
  75% {
    transform: rotate(-3deg); /* Tilt left */
  }
  100% {
    transform: rotate(0deg); /* End at center */
  }
}